.popup {
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: visibility 0.5s, opacity 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
}
.popup__container {
  box-sizing: border-box;
  position: relative;
  width: 430px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 34px 35px 28px;
}
.popup__title {
  font-family: 'Roboto';
  font-style: normal;
  color: #1a1b22;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  text-align: left;
}
.popup__text {
  text-align: left;
  padding: 0;
  margin: 16px 0 0;
}
.popup__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .popup__container {
    width: 100%;
  }
}
.popup__close {
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/popup/back.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 0.6;
}
.popup__close:focus {
  outline: none;
}
@media screen and (max-width: 555px) {
  .popup__close {
    height: 30px;
    width: 30px;
    top: -40px;
    right: 12px;
  }
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

