.nav {
  box-sizing: border-box;
  height: 100%;
}
.nav__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.nav__item {
  display: flex;
  margin-right: 32px;
}
.nav__item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
.nav__item_link {
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}
.nav__item_active {
  border-bottom: 3px solid #ffffff;
}
.nav__item_black {
  color: #1a1b22;
  border-color: #1a1b22;
}
.nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 12px 18px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  height: 48px;
  color: #ffffff;
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  outline: none;
  align-self: center;
}
.nav__button_black {
  color: #1a1b22;
  border-color: #1a1b22;
}
.nav__button_user {
  min-width: 112px;
}
.nav__exit {
  display: inline-block;
  margin-left: 10px;
  height: 16px;
  width: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/exit.svg);
}
@media screen and (max-width: 1000px) {
  .nav__item {
    margin-right: 16px;
  }
  .nav__button {
    padding: 8px 12px;
    height: 40px;
    font-size: 16px;
  }
  .nav__item_link {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .nav__item_link {
    font-size: 18px;
  }
  .nav__button {
    height: 56px;
    width: 288px;
    font-size: 18px;
  }
  .nav__button {
    margin-top: 8px;
  }
}
