.nav {
  height: 100%;
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.nav__item {
  margin-right: 32px;
}
.nav__item_link {
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}
.nav__item_active {
  border-bottom: 3px solid #ffffff;
}
.nav__item_black {
  color: #1a1b22;
  border-color: #1a1b22;
}
@media screen and (max-width: 1000px) {
  .nav__item {
    margin-right: 16px;
  }
  .nav__item_link {
    font-size: 16px;
  }
}
