.search-form {
  height: 576px;
  background-image: url('../../images/search-bg.png');
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  padding-top: 160px;
  box-sizing: border-box;
}
.search-form__container {
  color: #ffffff;
  margin: 0 auto;
  max-width: 608px;
  text-align: left;
}
.search-form__title {
  font-family: Roboto Slab, Georgia, 'Times New Roman', Times, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px;
}
.search-form__subtitle {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 545px;
  margin: 0;
  padding: 0;
}
.search-form__input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: white;
  margin-top: 64px;
}

.search-form__input {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 100px;
  padding-left: 24px;
  color: #1a1b22;
  outline: none;
}

.search-form__input:invalid {
  box-shadow: none;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__input:disabled {
  background-color: white;
}

.search-form__button {
  box-sizing: border-box;
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  color: #ffffff;
  height: 64px;
  background-color: #2f71e5;
  border: none;
  width: 168px;
  align-self: flex-start;
  transition: background 0.5s ease;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  padding: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  .search-form {
    height: 400px;
    margin-top: -66px;
    padding: 104px 16px 0;
  }
  .search-form__title {
    margin-bottom: 16px;
  }
  .search-form__input-container {
    margin-top: 48px;
  }
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
  }
  .search-form__container {
    max-width: 452px;
  }
}
/* .search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:focus {
  background-color: #2a65cc;
}

.search-form__button:disabled {
  color: #b6bcbf;
  background-color: #e6e8eb;
  pointer-events: none;
}

.search-form__error {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-out, z-index 1s ease-out,
    opacity 0.4s ease-out;
  -moz-transition: visibility 0.4s ease-out, z-index 1s ease-out,
    opacity 0.4s ease-out;
}

.search-form__error_open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s ease-out;
  -moz-transition: visibility 0s, opacity 0.4s ease-out;
}

@media screen and (max-width: calc(960px)) {
  .search-form {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -66px;
    height: 400px;
  }

  .search-form__container {
    max-width: 452px;
    margin-top: 104px;
  }

  .search-form__title {
    align-self: flex-start;
    max-width: 385px;
    margin-left: 0;
    font-size: 36px;
    line-height: 40px;
  }

  .search-form__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
  }

  .search-form__input-container {
    margin-top: 48px;
  }

  .search-form__input {
    height: 55px;
  }

  .search-form__button {
    height: 55px;
  }
}

@media screen and (max-width: 710px) {
  .search-form {
    margin-top: 0;
    height: 536px;
  }

  .search-form__container {
    max-width: 452px;
    margin-top: 86px;
  }

  .search-form__input-container {
    flex-direction: column;
    background-color: transparent;
  }

  .search-form__button {
    margin-top: 16px;
    width: 100%;
  }

  .search-form__input-container {
    margin-top: 120px;
  }
}

@media screen and (max-width: calc(500px)) {
  .search-form {
    margin-left: -16px;
    margin-right: -16px;
  }
} */
